.card-container{
    font-family: 'Poppins', sans-serif;
    border: 0px;
    padding-top: 20px;
    margin-bottom: 10px;
    
   
}
.card-container:hover{
    box-shadow: 1px 1px 10px 1px  rgb(212, 201, 201);
    cursor: pointer;
    
    
}