.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.logoImg{
    width: 150px;
    

}
.btn{
    background-color: rgb(168, 55, 74);
    
    padding: 7px 30px;
    border-radius: 20px;
}