.navbar{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    margin-right: 10px;
}
.logoImg{
    width: 150px;
    

}

.headerNav{
    color: rgb(54, 52, 52);
}
.displayimg{
    width: 50px;
 border-radius: 50%;



}