.navContainer{
    display: flex;
    
    justify-content: center;
    padding-top: 20px;
    

}
.navlink{
text-transform: capitalize;
/* color: rgb(26, 25, 25); */
text-decoration: none;
margin-right: 5px;
margin-left: 5px;
padding-left: 10px;
padding-right: 10px;
font-weight: 600;
line-height: 10px;

}